<div class='main_content'>
  <h2>Courses</h2>
  <% @courses.each do |course| %>
    <strong>
      <%= course.dept_code %> <%= course.course_no %>: <%= course.name %>
    </strong>
    <p class='dates'>
      <%= course.term %> <%= course.year %>
    </p>
    <p>
    <%= course.summary %>
    </p>
    <hr>
  <% end %>
</div>
