<div class='main_content'>
  <h1>Listing all faculty members</h1>
  <table class='table table-bordered'>
    <tr>
      <th>Photo</th>
      <th>Information</th>
      <th>Contact Details</th>
    </tr>

    <% @faculty_members.each do |member| %>
      <tr>
        <td>Photo</td>
        <td>
          <strong><%= member.first_name %> <%= member.last_name %></strong><br />
          Ph. D., The University of Astalia at Malona City<br />
          Software Development Practices<br />
          <%= link_to 'Website', '#' %>
        </td>
        <td>
          Office: MH 100<br />
          Phone: (384) 923-0341<br />
          Email: <%= member.first_name[0].downcase %><%= member.last_name %>@uastalia.edu
        </td>
      </tr>
    <% end %>
  </table>
</div>