<div class='main_content'>
  <h2>Research Projects</h2>
  <% @researches.each do |research| %>
    <strong><%= research.topic %></strong>
    <p class='dates'>
      <%= Date::MONTHNAMES[research.start_date.month] %> <%= research.start_date.year %>
       -
       <% end_timestamp = research.end_date.blank? ? 'Present' : "#{Date::MONTHNAMES[research.end_date.month]} #{research.end_date.year}" %>
       <%= end_timestamp %>
    </p>
    <%= research.summary %>
    <br />
    <%= link_to 'Edit', edit_research_path(research) if signed_in? %>
    <%= link_to 'Remove', research, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
  <%= link_to 'Add research', new_research_path %>
</div>