<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
  <%= stylesheet_link_tag 'custom', :media => 'all' %>
  <%= stylesheet_link_tag 'glyphicons', :media => 'all' %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='wrapper'>

    <% header = @faculty_view ? 'faculty_header' : 'index_header' %>
    <%= render "layouts/#{header}" %>

    <div class='bar'>
      <% logo = image_tag('UACS.png', :alt => 'UA Computer Science', :class => 'UHCS-logo') %>
      <%= link_to logo, root_path, class: 'UHCS-path' %>
      <% if signed_in? %>
        <%= link_to 'Sign out', signout_path, method: 'delete', class: 'signin-path' %>
      <% else %>
        <%= link_to 'Sign in', signin_path, class: 'signin-path' %>
      <% end %>
      
    </div>
    <div class='container-fluid'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class='row-fluid'>
        <%= render 'layouts/navigation' if @faculty_member %>
        <div class="<%= 'span9' if @faculty_view %>">
          <%= yield %>
        </div>
      </div>
    </div>

    <hr>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
